#login {
    border: 2px solid lightsalmon;
    width: 170px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightsalmon;
    cursor: pointer;
    font-size: 18px;
}