#contenedor-productos {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid lavender;
    position: relative;
    padding-bottom: 20px;
}

#contenedor-productos-h2 {
    color: lavender;
    font-size: 1em;
    margin-left: 20px;
}

#row {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}