#detailsforms {
  margin-top: 20px;
}

#formulario {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-h2 {
  text-align: center;
  color: #111111;
  font-size: 1.2em;
}

label {
  font-size: 1em;
  color: #111111;
}

#formulario p {
  margin-top: 2px;
  padding: 0 30px;
  color: #111111;
}

#formulario input {
  margin-top: 2px;
  width: 280px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #111111;
  padding: 0 10px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  color: #111111;
  background-color: lavender;
}
#formulario input:focus {
  border: 3px solid #111111;
  scale: 1.03;
}

.crear-producto {
  background-color: lavender;
  border: 2px solid #111111;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
}
.crear-producto:hover {
  background-color: #111111;
  color: lavender;
  transition: all 0.3s ease-in-out;
}

#formulario small {
  color: rgb(255, 78, 78);
  font-size: 0.8em;
}

#modal-body {
  margin-bottom: 0;
}