#principal {
    margin: 10px 5px 20px;
    height: auto;
    border: 2px solid burlywood;
    padding: 0 20px 20px;
    min-height: 100px;
}

#principal-h2 {
    color: burlywood;
    font-size: 1em;
    margin-top: 20px;
}