div img {
    margin-left: 1%;
    width: 40px;
    height: 40px;
}

.producto {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    margin: 0 20px;
    padding: 5px 0;    
    outline: 2px solid lavender;
    gap: 10px;
}
.producto:hover {
    background-color: lavender;
    color: #111111;
    outline: rgb(43, 142, 223) solid 2px;
    transition: all 0.3s ease-in-out;
    scale: 1.01;
}

.trash {
    margin-left: auto;
    margin-right: 5px;
    background-color: lavender;
    padding-left: 2px;
}